
button.music-button {
  background-color: transparent;
  width: 90px;
  border-radius: 8px;
  transition: 0.5s ease-in-out;
}

button.music-button img {
  padding: 0px 0px;
  width: 33px;
  height: 28px;
}

button.options-button {
  background-color: transparent;
  width: auto;
  border-radius: 8px;
}

button.options-button img {
  padding: 0px 0px;
}


.buttons {
  display: flex;
  justify-content: center;
  gap: 8px;
  flex-wrap: wrap;
}

button {
  padding: 10px 0px;
  font-size: 1rem;
  cursor: pointer;
  background-color: transparent;
  color: white;
  border: none;
  border-radius: 5px;
  margin: 5px;
}

button img {
  width: 30%;
}

button:hover {
  opacity: 0.9;
}

button.reset {
  background-color: transparent;
}


#setTimeBtn {
  display: flex;
  padding: 8px 0px !important;
  justify-content: end;
}

#setTimeBtn img {
  margin-top: 4px;

}


button.theme-button {
  background-color: transparent;
  width: auto;
  border-radius: 8px;
}

button.theme-button img {
  padding: 0px 0px;
}

button.edit-timer {
  background-color: transparent;
  padding: 3.5px 8px;
  width: 100%;
  border-radius: 8px;
}

button.edit-timer img {
  padding: 0px 0px;
  width: auto;
  max-width: 170%;
  transform: translateX(-100%);
}

button.edit-timer:hover {
  opacity: 0.7;
  transition: 0.5s ease-in-out;
}
